In [1]:
import pandas as pd

In [6]:
labels = []

with open('/cluster/scratch/thobauma/data/ori/ILSVRC2012_devkit_t12/data/ILSVRC2012_validation_ground_truth.txt') as file:
    for line in file:
        labels.append(int(line.strip()))

In [9]:
import os
files = sorted(os.listdir('/cluster/scratch/thobauma/data/ori/validation/images/'))

In [ ]:
files

In [ ]:
labels

In [13]:
df = pd.DataFrame({"image": files, "label": labels})

In [14]:
df

                              image  label
0      ILSVRC2012_val_00000001.JPEG    490
1      ILSVRC2012_val_00000002.JPEG    361
2      ILSVRC2012_val_00000003.JPEG    171
3      ILSVRC2012_val_00000004.JPEG    822
4      ILSVRC2012_val_00000005.JPEG    297
...                             ...    ...
49995  ILSVRC2012_val_00049996.JPEG     10
49996  ILSVRC2012_val_00049997.JPEG    495
49997  ILSVRC2012_val_00049998.JPEG    128
49998  ILSVRC2012_val_00049999.JPEG    848
49999  ILSVRC2012_val_00050000.JPEG    186

[50000 rows x 2 columns]

In [17]:
import json
mapping = json.load(open("./2012_2017_labels_map/map_2017_to_2012.json"))

In [19]:
df['label'] = df['label'].apply(lambda x: mapping[str(x)])

In [20]:
df

                              image  label
0      ILSVRC2012_val_00000001.JPEG     65
1      ILSVRC2012_val_00000002.JPEG    970
2      ILSVRC2012_val_00000003.JPEG    230
3      ILSVRC2012_val_00000004.JPEG    809
4      ILSVRC2012_val_00000005.JPEG    516
...                             ...    ...
49995  ILSVRC2012_val_00049996.JPEG    283
49996  ILSVRC2012_val_00049997.JPEG     26
49997  ILSVRC2012_val_00049998.JPEG    232
49998  ILSVRC2012_val_00049999.JPEG    982
49999  ILSVRC2012_val_00050000.JPEG    355

[50000 rows x 2 columns]

In [21]:
df.to_csv("/cluster/scratch/thobauma/data/ori/validation/labels.csv")